.header {
  position: fixed;
  top: 0;
  width: 100%
}

.name {
 
}

.contact {
  border-bottom: 1px solid black;
}

.main {
  margin-top: 100px;
  overflow: scroll;
}

.right{
    float:right;
}

.left{
    float:left;
}
