.header {
  position: fixed;
  top: 0;
  width: 100%
  z-index: 1;
  color: white;
  background-color: blue;
}

.name {
 
}

.contact {
  border-bottom: 1px solid black;
}

.main {
  margin-top: 110px;
  overflow: scroll;
  z-index: -1;
}

.right{
    float:right;
}

.left{
    float:left;
}
